.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*My Modifications (temporary)*/
.category {
  list-style-type: none;
}

.rank {
  padding-top:20px;
  margin:auto;

}


/*Alternating backgrounds*/
.posts {
  background: gainsboro;
}
.posts:nth-child(odd) {
  background: steelblue;
}


/* ListContacts */

.list-contacts {
  padding-top: 60px;
}
.list-contacts-top {
  position: fixed;
  width: 100%;
  top: 0;
  /*border-bottom: 1px solid #d5d8df;*/
  display:flex;
}

.search-contacts {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-image: url('../icons/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}

.add-contact {
  display: block;
  width: 73px;
  background: white;
  background-image: url('../icons/person-add.svg');
  /*background-image:url('./icons/Freesample.svg');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
}

.add-contact:hover {
  background-image: url('../icons/person-add-hover.png');
}

.showing-contacts {
  text-align: center;
  margin: 20px 0;
}
.showing-contacts button {
  color: blue;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.contact-list {
  padding: 0;
  list-style-type: none;
}
.contact-list-item {
  padding: 20px;
  background: white;
  display: flex;
}

@media (min-width: 600px) {
  .contact-list-item {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }

}

@media (max-width: 600px) {
  .contact-avatar {
    display:none;
  }
}

.contact-avatar {
  width: 60px;
  height: 60px;
  margin: auto 20px auto auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
}


.contact-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-details a {
  color:steelblue;
  text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

.contact-remove {
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url('../icons/cancel.svg');
  background-size: 100% 100%;
  border: 0;
  color: black;
  font-size: 0;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
}

.post-author {
  color: gray;
}

/*Nothing*/
.nothing-here {
  margin-top:4em;
}

/*Nav bar */

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}


.nav-li-ele a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li-ele a:hover {
    background-color: #111;
    transition: all ease-in-out 0.5s;
}

.nav-li-ele.selected {
    background-color: steelblue;
}

/*Post Details*/

.post-item {
  margin:20px;
  padding: 10px;
  background: white;
  display:block;
}

.post-heading {
  padding: 20px;
  background: white;
  display: flex;
  border-bottom:1px solid #d5d8df;;
}


.post-body {
  padding: 10px;
  background: #f1e9d2; /*parchemnt color*/
  text-align:left;
}

@media (min-width: 600px) {
  .post-item {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }

}

.show-posts {
  clear:left;
}

.post-details {
  clear:left;
}

.edit-delete {
  margin:auto;
}

.edit-post-modal{
  float:right;
  margin:20px;
}

.sort-dropdown {
  margin:20px;
  float:left;
}

.sub-body {
  max-width: 1600px;
  margin: auto;
  padding:10px;
}
